<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>教务系统成绩</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <link rel="stylesheet" href="css/weui.css"/>
    <link rel="stylesheet" href="css/weui2.css"/>
    <link rel="stylesheet" href="css/weui3.css"/>
    <link rel="stylesheet" href="css/weuix.css"/>
    <script src="js/zepto.min.js"></script>
    <script src="js/zepto.weui.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/echo.min.js"></script>
</head>

<style type="text/css">
.page-bd li {
    background-color: #fff;
    border-radius: 2px;
    cursor: pointer;
    margin: 10px 0;
    overflow: hidden;
    vertical-align: bottom;
    display: block;
}
.page-bd li.js-show .page-category {
    height: auto;
}
.page-bd li.js-show .page-category-content {
    opacity: 1;
    transform: translateY(0px);
}
.page-bd li:first-child {
    margin-top: 0;
}
.page-bd .page-category {
    height: 0;
    overflow: hidden;
}
.page-bd .page-category-content {
    opacity: 0;
    transform: translateY(-50%);
    transition: 0.3s;
}
.page-bd .weui-flex {
    align-items: center;
    padding: 10px;
    transition: all 0.3s ease 0s;
    display: -webkit-flex;
    display: -webkit-box;
    display: flex;
}
.page-bd .weui-flex--item {
    -webkit-flex: 1 1 0;
    flex: 1 1 0;
}
.page-bd .weui-cells {
    margin-top: 0;
}
.js_show {
    opacity: 1;
}
.weui__mask {
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}

</style>
<body ontouchstart style="background-color: #f8f8f8;">
<div class="form" id="app">
    <div class="weui-header bg-blue" style="display:none"> 
        <div class="weui-header-left"> 
            <a href="index.html" class="icon icon-109 f-white"></a> 
        </div>
        <h1 class="weui-header-title" id="text2"  style="margin:0 50px;">
            <div style="line-height:15px;">
                <div style="top:5px;position:relative;width:100%;height:40px;"><span>{{name}}的成绩</span><br/><span @click="handleChange" style="font-size: 12px;">{{current}}<span class="icon icon-74"></span></span></div>
            </div>
        </h1>
    </div>
    <div class="weui-skin_android" v-show="is_select">
        <div class="weui__mask" @click.stop="cancelSelect"></div>
        <div class="weui-actionsheet">
            <div class="weui-actionsheet__menu"  style="overflow-y:scroll; overflow-x:hidden;height:300px; width:274px; margin:auto;">
                <div class="weui-actionsheet__cell" v-for="(item,index) in semester" @click.stop="handleInfo(item,index)">{{item}}<i class="weui-icon-success-no-circle" v-if="item==current"></i></div>
            </div>
        </div>
    </div>
    <div style="height:2px;"></div>
    <div class="contianer page-bg" style="display:none">
        <div class="page-bd">
            <ul>
                <li v-for="(item, index) in info">
                    <div class="weui-flex js-category" @click="addClass($event)" style="opacity:1">
                        <div class="weui-flex__item" ><i class="icon icon-108"></i>{{item['课程名称']}}</div>
                        <div class="weui-cell__ft" :style="{color:(item['成绩']<60?'red':'green')}"><span>{{item['成绩']}}</span></div>
                    </div>
                    <div class="page-category js-categoryInner">
                        <div class="weui-cells page-category-content">
                            <a class="weui-cell weui-cell_access" v-for="(v, k) in item" v-if="v != '&nbsp;' && v">
                                <div class="weui-cell__bd">
                                    <p>{{k}}</p>
                                </div>
                                <div class="weui-cell-ft">{{v}}</div>
                            </a>
                        </div>
                    </div>
                </li>                
            </ul>
        </div>
    </div>
</div>
<script>
    (function () {
        var app = new Vue({
            el: '#app',
            data: {
                url: 'http://localhost/rxkj/public/index.php/',
                list: '',
                info: '',
                current: '',
                semester: [],
                cj_show: false,
                is_select: false,
                name: '',
                type: '',
            },
            mounted: function () {

            },
            methods: {
                getCjInfo: function (item) {
                    var self = this;
                    self.is_select = false;
                    $.ajax({
                        url: self.url + 'index/student/getcjinfo',    //请求的url地址
                        type : 'GET',
                        dataType : "json",  //json类型
                        data : {xueqi: item},
                        async : true,
                        beforeSend: function() {
                            $.showLoading();
                        },
                        success : function (response, stutas, xhr) {
                            $.hideLoading();
                            if (response.code != 0) {
                                $.toast(response.msg, "cancel");
                                setTimeout(function () {
                                    window.location.href = "index.html"
                                }, 1500);
                                return;
                            }
                            if (!response.data[0]) {
                                self.semester = response.data.list;
                                self.is_select = true;
                                self.type = 'old';
                                return ;
                            }
                            self.is_select = false;
                            self.list = response.data[0];
                            self.name = response.data.name;
                            $(".contianer").show();
                            $("#weui-top").show();
                            $(".weui-header").show();
                            var check = 0;
                            for (var k in self.list) {
                                if (check == 0) {
                                    self.info = self.list[k];
                                    self.current = k;
                                    check++;
                                }
                                var arr = Object.keys(self.list);
                                if (arr.length > 1) {
                                    self.semester.push(k);  
                                }
                            }; 
                        },
                        error: function(){
                            window.location.href = "login.html"
                        }
                    }); 
                },
                addClass: function(event) {
                    var $parent = $(event.target).parent().parent('li');
                    if($parent.hasClass('js-show')){
                        $parent.removeClass('js-show');
                        $(event.target).children('i').removeClass('icon-74').addClass('icon-108');
                    }else{
                        $parent.addClass('js-show');
                        $(event.target).children('i').removeClass('icon-108').addClass('icon-74');
                    }
                },
                handleChange: function(event) {
                    var self = this;
                    self.is_select = true;
                },
                handleInfo: function(item,index) {
                    var self = this;
                    if (self.type) {
                        self.getCjInfo(index);
                        return ; 
                    }
                    self.info = self.list[item];
                    self.current = item;
                    self.is_select = false;
                },
                back: function() {
                    window.location.href = "index.html"
                },
                cancelSelect: function() {
                    var self = this;
                    self.is_select = false;
                }
            }
        });
        app.getCjInfo();
    })();
</script>
</body>
</html>