<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/vant/lib/index.css">

    <!-- 引入组件 -->
    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vant/lib/vant.min.js"></script>
</head>

<div id="app">
  <van-cell-group>
  <van-field
    v-model="username"
    required
    clearable
    label="用户名"
    icon="question"
    placeholder="请输入用户名"
    @click-icon="$toast('question')"
  />

  <van-field
    v-model="password"
    type="password"
    label="密码"
    placeholder="请输入密码"
    required
  />
</van-cell-group>
</div>

<script>
    (function () {
        var app = new Vue({
            el: '#app',
            data: {
            },
            mounted: function () {

            },
            methods: {

            }
        });
    })();
</script>
</body>
</html>